* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: white;
}

.logo {

    width: 196px;
    height: 30px;
    padding: 0px 0px 0px 15px;

    
}

.menu {

    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc (100% / 3);
}

span {

    padding: 30px;
}

.icons {

    display: flex;
    width: 100px;
    justify-content: space-evenly;
}
.icons img {

    width: 13px;
    height: 13px;
}

main {

    width: 100%;
    height: 100vh;
    color: white;
}

.container {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    height: 322px;
    background-color: rgb(41, 41, 41); 

}

h2 {

    font-size: 24px;
    padding-top: 34px;
}

p {

    font-size: 15px;
    margin:  5px 0px 0px;
}

.shop {

   

}

.products {

    width: 360px;
    height: 212px;
    background-color: grey;

}